{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Eliminar</h1> 
    <p>
        ¿Está seguro que desea borrar el registro "{{ object }}"?
        <form method="POST">
            {% csrf_token %}
            <input type="submit" class='btn btn-danger pull-right' value="Elimiar"/>
        </form>
     </p>
  </div>
</div>
{% endblock %}