{% extends "base.html" %}
{% block content %}
    
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Moni</h1> 
        <p>Panel de Administracion</p> 
      </div>
        <table class='table'>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Aprobado?</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
                {% if not object_list %}
                    <tr>
                        <td>Sin registros</td>
                    </tr>
                {% else %}
                    {% for obj in object_list %}
                        {% if obj.error %}
                            <tr class='error'>
                        {% else %}
                            <tr>
                        {% endif %}
                            <td>{{obj.name}}</td>
                            <td>{{obj.surname}}</td>
                            <td>{{obj.id_number}}</td>
                            <td>{{obj.approved}}</td>
                            <!-- Menu de acciones (Editar / Eliminar) -->
                            <td>
                                <div>
                                    <a href='{% url 'cr-edit' obj.pk %}' class='btn btn-info btn-xs'><span class='glyphicon glyphicon-pencil'></span></a>
                                        &nbsp;
                                    <a href='{% url 'cr-delete' obj.pk %}' class='btn btn-danger btn-xs'><span class='glyphicon glyphicon-trash'></span></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div> <!-- /container -->

  </body>
  {% endblock %}

