{% extends "base.html" %}
{% block content %}
{% load bootstrap %}
  <body>

    <div class="container">
      <div class="jumbotron">
        <h1>Moni</h1> 
        <p>Solicitud de aprobación de Credito</p> 
      </div>

      <form id="form" class="form-signin" method='POST'>
        {% csrf_token %} 
        <h2 class="form-signin-heading">Ingrese sus datos</h2>
        {{ form|bootstrap }}
        <input type="submit" id='btn_submit' class="btn btn-lg btn-primary btn-block" value='Consultar'/>
      </form>
    
    <br/>
    <div id='response_div'>
    </div>

    </div> <!-- /container -->
  </body>
  <script>
   // Incluyo el CSRF Token en todas las peticiones Ajax
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", $('input[name=csrfmiddlewaretoken]').val());
        }
    });
    
    
    {% if not object %}
        $('#form').on('submit', function(e){
            e.preventDefault();
            get_approval();
        })
    {% else %}
        $('#btn_submit').val('Guardar')
    {% endif %}
    
    function get_approval(){
        // Envio de formulario asincronico
        // domain podria nutrirse de Django Sites
        const domain = 'http://localhost:8000'
        const url = domain + {% url 'credirrequest' %}   
        var alert = null;
        
        $.ajax({
            url: url,
            type: 'POST',
            data: $("#form").serialize(),
            success: function(data){
                if (data.error){
                    alert = '<div class="alert alert-danger"><strong>Error: </strong> Ha ocurrido un error en la consulta.</div>'
                }else{
                    if (data.approved){
                        alert = '<div class="alert alert-success"><strong>Bien! </strong>Su solicitud ha sido aprobada.</div>'
                    }else{
                        alert = '<div class="alert alert-warning"><strong>:( </strong>Su solicitud no ha sido aprobada.</div>'
                    }
                }
                $('#response_div').html(alert)
            },
            fail: function(data){
                alert = '<div class="alert alert-danger"><strong>Error </strong> Error de comunicación, no se pudo completar la consulta.</div>'
                $('#response_div').html(alert)
            }
        })
    }
  </script>
{% endblock %}
